html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 60%;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 25px;
}

.info, .img {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  box-sizing: border-box;
}

.info {
  text-align: left;
  justify-content: center;
    padding: 1rem;
  
  .box {
    background: hsl(from var(--bg) h s calc(l * 2));
    padding: 1rem;
    margin: .5rem 0;
    border-radius: var(--radius);

    &.system { ul { margin-top: 10px; } }

    &.uptime {
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: .5rem 1rem;
        margin-top: .5rem;
        .item {
          display: flex;
          align-items: center;
          gap: .4rem;
          font-family: monospace;
          span.status {
            &.online { color: #40a02b; }
            &.offline { color: #d20f39; }
            &.unknown { color: #4c4f69; }

            svg {
              position: relative;
              width: 22px;
              height: 22px;
              top: 4px;
              left: 2px;
            }
          }
        }
      }
    }
  }
}

.img {
  gap: 1rem;
  padding: 1rem;
  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--radius);
    border: 5px solid var(--acc);
    box-sizing: border-box;
  }
}