---
import Layout from '../layouts/Layout.astro'
import '../styles/temps.scss'
---

<Layout>
  <canvas id='graph' style='max-height: 95%; max-width: 100%' />
  <button class='format'>format graph</button>
  <script src='../scripts/tempGraph.ts' />
</Layout>
