<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='https://invisyarcticfox.uk/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>lucas@raspi:4321</title>
		<link rel='canonical' href={Astro.url}>
		<style is:inline>
			body {
				--bg: #11111b;
				--fg: #cdd6f4;
  			--acc: #a6e3a1;
				--radius: 25px;
				background:var(--bg);
				color: var(--fg);
				font-family:Arial,Helvetica,sans-serif;
			}
			a, a:visited { color: var(--fg); }
			a:hover { color: var(--acc); text-decoration: underline; }
		</style>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
