<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='https://invisyarcticfox.uk/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>lucas@raspi:4321</title>
		<link rel='canonical' href={Astro.url}>
		<style>body{background:#11111b;color:#cdd6f4;}</style>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>